.loading {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
    min-height: 100%;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url('/images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
}