ul.merchants {
	list-style: none;
	text-align: left;
	padding: 0;
}
ul.seller-price {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	float: right;
	left: -50%;
	text-align: left;
}
ul.seller-price li {
	position: relative;
	left: 50%;
}
ul.seller-price a:hover {
	color: #EA0011;
	text-decoration: underline;
	cursor: pointer;
}